@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
}


img {
  width: 600px;
  min-width: 0;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: center;
  gap: 16px;
}

.footer{
  background-color: #eeeeee;
  
}

ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a{
  text-decoration: none;
  color: gray;
}

.buttons button{
  padding: 10px 20px;
}

