.pink-bg{
    background-color: rgb(234, 183, 191);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#blue-text{
    color: rgb(43, 43, 193);
    font-size: 36px;
}

.font-twofour{
    font-size: 24px;
}

#green-bg{
    background-color: rgb(116, 217, 116);
    font-weight: 700;
}