*{
   box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.card, .title, .content, .button-container{
  padding: 10px;
}


body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}


.title {
  background: #e3f4ff;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  width: 100%;
  background: #e3f4ff;
  margin-top: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 10px 30px;
}